<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/committee.css">
    <title>Advisory Committee</title>
</head>

<body>
    <% include ./navbar.ejs%>
        <div class="committee">
            <h3>Advisory Committee</h3>
            <hr>
            <div class="details">
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Vincenzo Piuri</small> University of Milan, Italy

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Valentina Emilia Balas</small> Aurel Vlaicu University of Arad, Romania

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Marius Balas</small> Aurel Vlaicu University of Arad, Romania

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Mohamed Salim Bouhlel</small> Sfax University, Tunisia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Aboul Ella Hassanien</small> Cairo University, Egypt

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Cenap Ozel</small> King Abdulaziz University, Saudi Arabia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Ashiq Anjum</small> University of Derby, Bristol, UK

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Mischa Dohler</small> King’s College London, UK

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sanjeevikumar Padmanaban</small> University of Johannesburg, South Africa

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Siddhartha Bhattacharyya</small> Principal, RCC Institute of Information Technology, Kolkata,
                        India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) David Camacho</small> Associate Prof, Universidad Autonoma de Madrid,Spain

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Parmanand</small> Dean, Galgotias University, UP, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Abu Yousuf</small> Asst.Prof University Malaysia Pahang Gambang, Malaysia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Salah-ddine Krit</small> University Ibn Zohr – Agadir, Morocco

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sanjay Kumar Biswash</small> Research Scientist INFOCOMM Lab, Russia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Maryna Yena S</small> Senior Lecturer Medical University of Kiev, Ukraine

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Giorgos Karagiannidis</small> Aristotle University of Thessaloniki, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Tanuja SRIVASTAVA</small> Dept of Mathematics, IIT Roorkee

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. D Jude Hemanth</small> Associate Professor, Karunya University, Coimbatore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Tiziana Catarci</small> Sapienza University, Rome, Italy

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Salvatore Gaglio</small> University Degli Studi di Palermo, Italy

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Bozidar Klicek</small> University of Zagreb, Croatia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Marcin Paprzycki</small> Associate Professor, Polish Academy of Science, Poland

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) A.K. Singh</small> NIT Kurukshetra, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Anil Kumar Ahlawat</small> KIET Group of Institutes, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Chang-Shing Lee</small> National University of Tainan, Taiwan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Paolo Bellavista</small> Associate Prof, Alma Mater Studiorum–Università di Bologna

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sanjay Misra</small> Covenant University, Nigeria

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Benatiallah ali</small> Associate Professor&nbsp;Adrar University, Algeria

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Suresh Chandra Satapathy</small> PVPSIT, Vijayawada, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Marylene Saldon-Eder</small> Mindanao University of Science and Technology

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Özlem ONAY</small> Anadolu University, Eskisehir TURKEY

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Miss Rubelyn W. Coronel</small> Datu Abing St., Calinan, Davao City

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Kei Eguchi</small> Dept. of Information Electronics, Fukuoka Institute of Technology

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Zoltan Horvath</small> Professor, Kasetsart University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. AKM Matiul Alam</small> Vancouver British Columbia, Canada

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Joong Hoon Jay Kim</small> Korea University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sheng-Lung Peng</small> National Dong Swa Uinversity, Taiwan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Daniela Lopez De Luise</small> CI2S Lab, Argentina

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dac-Nhuong Le</small> Haiphong University, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dusanka Boskovic</small> University of Sarajevo, Sarajevo

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Periklis Chat Zimisios</small> Alexander TEI of Thessaloniki, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Nhu Gia Nguyen</small> Duy Tan University, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Huynh Thanh Binh</small> Hanoi University of Science &amp; Technology, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ahmed Faheem Zobaa</small> Brunel University, London

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dac-Nhuong Le</small> Haiphong University, Haiphong, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Olema Vincent</small> Uganda

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Kirti Tyagi</small> Inha University, Tashkent

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Ladjel Bellatreche</small> Poitiers University, France

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Victor C.M. Leung</small> The University of British Columbia, Canada

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Huseyin Irmak</small> Cankiri Karatekin University, Turkey

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Alex Norta</small> Associate Professor, Tallinn University of Technology, Estonia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Amit Prakash Singh</small> GGSIPU, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Abhishek Swaroop</small> Bhagwan Parshuram Institute of Technology, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof Christos Douligeris</small> University of Piraeus, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof Christos Douligeris</small> University of Piraeus, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Brett Edward Trusko</small> President &amp; CEO(IAOIP) and Assistant Professor, Texas A&amp;M
                        University, Texas

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) R.K. Datta</small> Director, MERIT

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof (Dr.) Joel J. P. C. Rodrigues</small> National Institute of Telecommunications (Inatel), Brazil;
                        Instituto de Telecomunicações, Portugal

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof (Dr.) Victor Hugo C. de Albuquerque</small> University of Fortaleza (UNIFOR), Brazil

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Atta ur Rehman Khan</small> King Saud University, Riyadh

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. João Manuel RS Tavares</small> Professor Associado com Agregação FEUP - DEMec

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Ravish Saggar</small> Director, Banarsidas Chandiwal Institute of Information Technology,
                        Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Professor(Dr) Ku Ruhana Ku Mahamud</small> School of Computing, College of Arts &amp; Sciences, Universiti
                        Utara Malaysia, Malaysia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof. Ghasem D. Najafpour</small> Babol Noshirvani University of Technology, IRAN

                    </div>
                </div>
            </div>
        </div>

        <% include ./footer.ejs%>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="./script/index.js"></script>
</body>

</html>