<div class="footer" id="support">
    <div class="upper">
        <div class="footerEle1 stayConnected">
            <h3>STAY CONNECTED</h3>
            <small>Join large community of researchers, academicians and industry experts </small>
            <div class="getEmail">
                <div id="getEmailInput">onlineconference.com@gmail.com</div>
                <label for="getEmailInput">Our Mail</label>
            </div>

            <div class="socialLinks">
                <a href="mailto:onlineconference.com@gmail.com" target="_blank">
                    <i class="fas fa-envelope-open"></i>
                </a>
                <a href="" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.facebook.com/onlineconf/?ref=br_rs" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>

        <div class="footerEle1 navigate">
            <h3>NAVIGATE</h3>
            <div class="horizontalLink">
                <a href="/#about">About
                    <i class="fas fa-angle-right"></i>
                </a>
                <!-- <a href="/#committee">Our Committee
                    <i class="fas fa-angle-right"></i>
                </a> -->
                <a href="#support">Support
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
            <div class="horizontalLink">
                <a href="/#conference">Events
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="/#dates">Important Dates
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>

            <!-- <div class="horizontalLink">
                

            </div> -->
        </div>
    </div>
    <hr>
    <!-- <div class="address">
        <p>
            International Conference on Research in Technology and Management
        </p>
        <i class="fas fa-circle"></i>
        <p>
            Support (+91)77777777
        </p>
    </div> -->

    <div class="copyright">
        <!-- <a href="/rulesandregulation">Policy</a> -->
        <a href="javascript:;">
            Online Conference on Recent Research in Technology and Management</a>
        <!-- <a href="">Sitemap</a> -->
    </div>
</div>