<div class="footer" id="support">
    <div class="upper">
        <div class="footerEle1 stayConnected">
            <h3>STAY CONNECTED</h3>
            <small>Join over 10,500 who recieve weekly web marketing tips</small>
            <div class="getEmail">
                <input type="text" id="getEmailInput" placeholder="Em@il Address">
                <label for="getEmailInput">Sign-up</label>
            </div>

            <div class="socialLinks">
                <a href="">
                    <i class="fas fa-envelope-open"></i>
                </a>
                <a href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>

        </div>

        <div class="footerEle1 navigate">
            <h3>NAVIGATE</h3>
            <div class="horizontalLink">
                <a href="/#about">About
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="/#committee">Our Committee
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
            <div class="horizontalLink">
                <a href="/#conference">Events
                    <i class="fas fa-angle-right"></i>
                </a>
                <a href="/#dates">Important Dates
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>

            <div class="horizontalLink">
                <a href="#support">Support
                    <i class="fas fa-angle-right"></i>
                </a>
               
            </div>
        </div>
    </div>
    <hr>
    <div class="address">
        <p>
            International Conference on Research in Technology and Management
            <i class="fas fa-circle"></i>
            Support (+91)77777777
        </p>
    </div>

    <div class="copyright">
        <a href="/rulesandregulation">Policy</a>
        <a href="javascript:;">
            Copyright © Online Conference on Research in Technology and Management</a>
        <!-- <a href="">Sitemap</a> -->
    </div>
</div>