<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/ICITAES.css">
    <title>ICRRM</title>
</head>

<body>
    <img id="homeImage" src="./images/mikael-kristenson-242070-unsplash.jpg" alt="">

    <% include ./navbar.ejs%>

        <div class="conf">
            <div class="conf_name">
                <h2>
                    International conference on recent research in management
                </h2>
                <h4>(ICRRM)</h4>
                <h4>on 3rd November, 2018</h4>
            </div>

            <hr>

            <div class="about_conf">
                <h3>
                    About Conference
                </h3>
                <div class="data">
                    <p>
                        International conference on recent research in management (ICRRM-2018) is organised with general objective of facilitating
                        an open and constructive dialogue between researchers and practitioners based on research works and
                        practical experiences which foster a better understanding of the world’s best management policies
                        practices. ICRRM will drastically help to provide effective managerial responses to leadership challenges
                        of the 21st century. Such forums provide a forum for exchange of information between scholars and
                        practitioners on the relationships of intelligence to management and leadership and encourage scholars
                        to share their theory, research, and experience on management and administration.
                    </p>
                </div>
            </div>

            <hr>

            <div class="call">
                <div class="callForPaper">
                    <h3>
                        Call for papers
                    </h3>
                    <ul>
                        <li>CSE</li>
                        <li>IT</li>
                        <li>ECE</li>
                        <li>EEE</li>
                        <li>MAE</li>
                        <li>Civil</li>
                    </ul>
                </div>

                <div class="confCommittee">
                    <h3>
                        Committee
                    </h3>
                    <ul>
                        <li>
                            Conference Chair: Ayush Jain
                        </li>
                        <li>
                            TPC Chair: Ayush Jain
                        </li>
                        <li>
                            Convener: Ayush Jain
                        </li>
                        <li>
                            Co-convener: Ayush Jain
                        </li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="registration">
                <h3>Registration</h3>
                <div class="data">
                    <p>Online proceeding publication :
                        <i class="fas fa-rupee-sign"></i> 1000</p>
                    <p>UGC approved journals :
                        <i class="fas fa-rupee-sign"></i> 1500</p>
                    <small>*Assistance will be provided for referred Scopus and SCI journal publication.</small>
                </div>
            </div>

            <hr>

            <div class="importantDates">
                <h3>IMPORTANT DATES</h3>
                <div class="data">
                    <p>Registration 15th September, 2018</p>
                    <p>Submission Deadline 15th October, 2018</p>
                    <p>Acceptance 30th October, 2018</p>
                    <p>Conference 3rd November, 2018</p>
                </div>
            </div>

            <hr>

            <div class="policy">
                <h3>Submission</h3>
                <div class="data">
                    <div class="submission">
                        <h5>Paper Submission</h5>
                        <p> The Original unpublished Research Papers, Articles & Working papers having maximum length 8 pages
                            on the topics related to the theme are invited for presentation/publication in the conference
                            proceedings.
                        </p>
                        <ol>
                            <li>Kindly ensure that your paper is formatted as per IEEE Guidelines (not exceeding 8 pages written
                                in A4 size). Please refer the attached springer template for preparation of your paper.</li>
                            <li>All papers must be submitted online via
                                <a href="icrrm.2018@gmail.com">icrrm.2018@gmail.com</a>.</li>
                            <li>All submissions will be thoroughly peer-reviewed by experts based on originality, significance
                                and clarity.
                            </li>
                        </ol>
                    </div>

                    <div class="plagiarism">
                        <h5>Plagiarism Policy</h5>
                        <ol>
                            <li>
                                The paper prior to submission should be checked for plagiarism from licensed plagiarism softwares like Turnitin/iAuthenticate
                                etc. The similarity content should not exceed 30% (in any case either self contents or others).
                                Further, you have to strictly implement the following ethical guidelines for publication:
                            </li>

                            <li>
                                Any form of self-plagiarism or plagiarism from others' work(s) should not be there in an article. If any model / concept
                                / figure / table / data / conclusive comment by any previously published work is used in
                                your article, you should properly cite a reference to the original work.
                            </li>

                            <li>
                                Also language of explaining it should not be same as language of the work from which you have adopted it. If you are using
                                any copyrighted material, you should acquire prior permission from the copyright holder.
                            </li>
                        </ol>
                    </div>
                    <a href="javascript:;" class="submitPaperBtn">SUBMIT ON : icrrm.2018@gmail.com</a>
                </div>
            </div>

            <hr>

            <div class="presentation">
                <h3>Presentation</h3>
                <div class="data">
                    <p>All the presentation will be conducted online on conference date.</p>
                </div>
            </div>

        </div>

        <% include ./footer.ejs%>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="./script/index.js"></script>
</body>

</html>