<nav class="navbar navbar-expand-lg navbar-light bg-light" id="">
    <a class="navbar-brand" href="/">Online Conference</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="dropdown">
                <a href="/#about" class="dropbtn">About</a>
            </li>

            <li class="dropdown">
                <a href="/rulesandregulation" class="dropbtn">Rules and Regulation</a>
            </li>

            <li class="dropdown">
                <div class="dropbtn">Upcoming Conference</div>
                <div class="dropdown-content">
                    <a class="conferenceLink" href="/ICITAES">
                        International conference on innovative technological advancements in engineering and sciences
                        <br> (ICITAES)
                    </a>
                    <a class="conferenceLink" href="/ICRRM">
                        International conference on recent research in management
                        <br> (ICRRM)
                    </a>
                </div>
            </li>

            <li class="dropdown">
                <div class="dropbtn">Associated Services</div>
                <div class="dropdown-content">
                    <a href="">Plagiarism Report</a>
                    <a href="#">UGC Journal</a>
                    <a href="#">Scopus</a>
                    <a href="#">SCI</a>
                    <a href="#">Referred</a>
                </div>
            </li>

            <li class="dropdown">
                <div class="dropbtn">Journals</div>
                <div class="dropdown-content">
                    <a href="https://icc-journal.com">ICC
                        <br>Innovative Computing and Communication
                        <br>(An International Journal)</a>
                </div>
            </li>

            <li class="dropdown">
                <div class="dropbtn">Committee</div>
                <div class="dropdown-content">
                    <!-- <a href="#">Steering Committee</a> -->
                    <a href="/advisorycommittee">Advisory Committee</a>
                    <a href="/technicalcommittee">Technical Program Committee</a>
                </div>
            </li>

            <li class="dropdown">
                <div class="dropbtn">Downloads</div>
                <div class="dropdown-content">
                    <a href="./Conference-LaTeX-template_7-9-18/conference_041818.pdf">Conference-template.pdf</a>
                    <a href="./Conference-LaTeX-template_7-9-18/Conference-template-A4.doc">Conference-template.doc</a>
                    <a href="./Conference-LaTeX-template_7-9-18/conference_041818.tex">Conference-template.tex</a>
                </div>
                <!-- <a href="./Conference-LaTeX-template_7-9-18.zip" class="dropbtn download">Downloads</a> -->
            </li>
        </ul>

    </div>
</nav>