<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/committee.css">
    <title>Technical Program Committee</title>
</head>

<body>
    <% include ./navbar.ejs%>
        <div class="committee">
            <h3>Technical Program Committee</h3>
            <hr>
            <div class="details">
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Vincenzo Piuri</small> : University of Milan, Italy
                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Valentina Emilia Balas</small> : Aurel Vlaicu University of Arad, Romania

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Marius Balas</small> : Aurel Vlaicu University of Arad, Romania

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Mohamed Salim Bouhlel</small> : Sfax University, Tunisia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Aboul Ella Hassanien</small> : Cairo University, Egypt

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Salah-ddine Krit</small> : University Ibn Zohr – Agadir, Morocco

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Cenap Ozel</small> : King Abdulaziz University, Saudi Arabia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Ashiq Anjum</small> : University of Derby, Bristol, UK

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Mischa Dohler</small> : King’s College London, UK

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sanjeevikumar Padmanaban</small> : University of Johannesburg, South Africa

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) David Camacho</small> : Associate Prof, Universidad Autonoma de Madrid,Spain

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Parmanand</small> : Dean, Galgotias University, UP, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mohamed Mostafa Fouad</small> : Arab Academy for Science and Technology, Egypt

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sanjay Kumar Biswash</small> : Research Scientist INFOCOMM Lab,ICNRTPU, Russia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Paolo Bellavista</small> : Associate Professor, Alma Mater Studiorum – Università di Bologna

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Alex Norta</small> : Associate Professor, Tallinn University of Technology, Estonia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mohamed Mostafa Fouad</small> : Arab Academy for Science and Technology, Egypt

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sanjay Kumar Biswash</small> : Research Scientist INFOCOMM Lab, Institute of Cybernetics National
                        Research Tomsk Polytechnic University, Russia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Abu Yousuf</small> : Assistant Professor, University Malaysia Pahang Gambang, Malaysia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sanjay Misra</small> : Covenant University, Nigeria

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Maryna Yena S</small> : Senior Lecturer Medical University of Kiev, Ukraine

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Benatiallah ali</small> : Associate Professor,&nbsp;Engineering Department, Adrar University,
                        Algeria

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Marylene Saldon- Eder</small> : Mindanao University of Science and Technology

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Özlem ONAY</small> : Professor,&nbsp;Anadolu University, Eskisehir TURKEY

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Miss Rubelyn W. Coronel</small> : Datu Abing St., Calinan, Davao City

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Kei Eguchi</small> : Department of Information Electronics, Fukuoka Institute of Technology

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Ladjel Bellatreche</small> : Poitiers University, France

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Chang-Shing Lee</small> : National University of Tainan, Taiwan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Victor C.M. Leung</small> : The University of British Columbia, Canada

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Huseyin Irmak</small> : Cankiri Karatekin University, Turkey

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Zoltan Horvath</small> : Professor, Kasetsart University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. AKM Matiul Alam</small> : Vancouver British Columbia Canada

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Joong Hoon Jay Kim</small> : Korea University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sheng-Lung Peng</small> : National Dong Swa Uinversity, Taiwan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Daniela Lopez De Luise</small> : Computational Intelligence and Information System Lab, Argentina

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dac-Nhuong Le</small> : Haiphong University, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dusanka Boskovic</small> : University of Sarajevo, Sarajevo

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Periklis Chat Zimisios</small> : Alexander TEI of Thessaloniki, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Atta Ur Rehman Khan</small> : King Saud University and COMSATS Institute of Information Technology

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Tiziana Catarci</small> : Sapienza University, Rome, Italy

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Salvatore Gaglio</small> : University Degli Studi di Palermo, Italy

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Bozidar Klicek</small> : University of Zagreb, Croatia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Marcin Paprzycki</small> : Associate Professor, Polish Academy of Science, Poland

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Carlos Lozano</small> : Postdoctoral Fellow, Universidad de los Andes, Colombia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. D Jude Hemanth</small> : Associate Professor, Karunya University, Coimbatore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Pradeep Kumar Mallick</small> : Professor, Dept. of CSE, VBIT, Hyderabad

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Tanuja SRIVASTAVA</small> : Department of Mathematics, Indian Institute of Technology,
                        Roorkee

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Giorgos Karagiannidis</small> : Aristotle University of Thessaloniki, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Nhu Gia Nguyen</small> : Duy Tan University, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ahmed Faheem Zobaa</small> : Brunel University, London

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dac-Nhuong Le</small> : Haiphong University, Haiphong, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Olema Vincent</small> : Uganda

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Kirti Tyagi</small> : Inha University, Tashkent

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Huynh Thanh Binh</small> : Hanoi University of Science &amp; Technology, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Andri Pranolo</small> : Universitas Ahmed Dahlan,&nbsp;Indonesia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Suresh Chandra Satapathy</small> : PVPSIT, Vijayawada, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mahesh Bundele</small> : Poornima University, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Rajesh Kumar</small> : CSE Dept, Thapar University, Punjab, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Uday Shankar</small> : Deen Dayal Uppadhayay, UP, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Dhurender</small> : IT Dept, Netaji Subhash Institute of Technology, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Rajesh Tyagi</small> : SRM University, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Kapil Sharma</small> : Associate Professor, Delhi Technological University, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Manish Madan</small> : Chairman, AIRDO, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Amar Mohapatra</small> : Associate Professor, IGDTUW, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Amit Prakash Singh</small> : GGSIPU, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. PS Rana</small> : Assistant Professor, Thapar University, Punjab, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vishal Kumar</small> : BTKIT, Dwarahat, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Amit Joshi</small> : Assistant Professor,&nbsp;SITG, Gujarat, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Himani Bansal</small> : JIIT, Noida, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Anirban Basu</small> : President, CSI, India Council, Bangalore, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vikram Bali</small> : Head of Department-CSE, Panipat Institute of Engineering &amp; Technology,
                        Panipat, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Brojo Kishore Mishra</small> : Associate Professor, CV Raman College of Engineering, Bhubaneshwar

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr D.V. Ashoka</small> : Professor, JSS Academy of Technical Education, Bangalore, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Thippeswamy G</small> : Professor &amp; HOD Computer Science BMS Institute of Technology, Bangalore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vinod Kumar Verma</small> : Sant Longowal Institute of Engineering &amp; Technology, (Deemed
                        University), Punjab, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof D. P. Mishra</small> : Prof. In-Charge T &amp; P Cell Asso. Prof. Bhilai Institute of Technology,
                        Bhilai House, Durg, CG

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Debabrata Samanta</small> : Associate professor, Dayananda Sagar College of Arts, Science and
                        Commerce, Bangalore, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof. Meenu Vijarania</small> : Assistant Professor Department of Computer Science Amity University
                        Haryana

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Manjesh</small> : Associate Professor Bangalore University, Bangalore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. V.PUSHPARAJESH</small> : Kongu Engineering College, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) R.Shivakumar</small> : Sona College of Technology, Salem, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof.(Dr.) K.P.Yadav</small> : Director KCC Institute of Technology &amp; Management, Greater Noida

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. T.R. Sumithira</small> : K.S.R. College of Engineering, Tiruchengode

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. S.ALBERT ALEXANDER</small> : Kongu Engineering College Perundurai, Tamilnadu, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ganesh Venkatesan</small> : Managing Director, Elsevier, Chennai, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Deepti Mehrotra</small> : Amity University, Noida, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Himanshu Agarwal</small> : Punjabi University, Patiala, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Sujata Pandey</small> : Amity University, Noida, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Anil Kumar Ahlawat</small> : KIET Group of Institutes, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Hanumat G Sastry</small> : Associate Professor, UPES, Dehradun, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Mr. Jayraj Ugarkar</small> : Head, Internet of Things, Infosys, Bangalore, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Babita Pandey</small> : Associate Professor School of Computer Application Lovely Professional
                        University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Samarjeet Borah</small> : Associate Professor, Sikkim Manipal Institute of Technology, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Siddhartha Bhattacharyya</small> : Principal, RCC Institute of Information Technology,
                        Kolkata, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Uzzal Sharma</small> : Asst. Professor Department of Computer Science &amp; Engineering,Assam
                        Don Bosco University

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. NANDINI PRASAD K S</small> : Associate Professor Department of Computerscience &amp; Engineering
                        Dr. AIT, Bangalore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. K. David</small> : Assistant Professor PG &amp; Research Department of Computer Science Government
                        Arts College, Udumalpet

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) S. Pushpa</small> : St.Peter's University Avadi, Chennai

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Shailendra Mishra</small> : ECE Department Bharat Institute of Technology and Engineering,
                        Hyderabad

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) P V Rao</small> : Rajarajeswari College of Engineering, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Preetisudha Meher</small> : GITAM University, Hyderabad, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. P.Maruthupandi</small> : Government College of Technology, Coimbatore

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) A.Mahabub Basha</small> : K.S.R. College of Engineering, Tiruchengode, Tamilnadu, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) C.NAGARAJAN</small> : Muthayammal College of Engineering Rasipuram, Namakkal, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Telagarapu.Prabhakar</small> : GMR Institute of Technology (GMRIT), Rajam, Srikakulam District,
                        A.P

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Akshaye Dhawan</small> : Ursinus College, Pennsylvania, USA

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Gurpreet Singh</small> : Giani Zail Singh Campus College of Engineering &amp; Technology, Maharaja
                        Ranjit Singh Punjab Technical University, Bathinda, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Anil Verma</small> : Thapar University, Patiala, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) A.K. Singh</small> : NIT Kurukshetra, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Subhra Saggar</small> : Director, GNIM, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Mangey Ram Swami</small> : Graphic Era University, Dehradun, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Swagatam Das</small> : Associate Professor, Indian Statistical Institute, Kolkata, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Abhishek Swaroop</small> : Bhagwan Parshuram Institute of Technology, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Hemraj Saini</small> : Associate Professor, Jaypee University of Information Technology, Waknaghat,
                        India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Prasanta Jana</small> : Indian Institute of Technology, Dhanbad, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sandeep Chaurasia</small> : Associate Professor, Manipal University , Jaipur, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Manish Saini</small> : Assistant Professor, DCRUST, Haryana, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vrijendra Singh</small> : Associate Professor, Indian Institute of Information Technology, &nbsp;Allahabad,
                        India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Arun Kumar Verma</small> : Assistant Professor, MNIT, Jaipur, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Manoj Kumar Panda</small> : Associate Professor, G. B. Pant Engineering College, Garhwal, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Seema Verma</small> : Associate Professor , Banasthali Vidyapith, Rajasthan, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Om Prakash Sangwan</small> : Associate Professor, Guru Jambheshwer University of Science &amp;
                        Technology,, Hissar, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vishal Jain</small> : Associate Professor, BVICAM, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vishal Goyal</small> : Associate Professor, GLA University , Mathura, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. G.Suseendarn</small> : Assistant Professor, Vels University, &nbsp;Chennai, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Nguyen Ha Huy CUong</small> : Lecturer, Quang Nam University, Tam Ky City, Vietnam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Atul Gonsai</small> : Saurashtra University, Rajkot

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Shashikant Patil</small> : Shirpur

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Neeraj Kumar</small> : Associate Professor, Thapar University, Punjab

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Udayan Ghosh</small> : Associate Professor, GGSIPU, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Venkatadri Marriboyina</small> : Associate Professor, UPES, Dehradun

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Rama Kishore</small> : Associate Professor, GGSIPU, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Achal Kaushik</small> : Bhagwan Parshuram Institute of Technology, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ruchika Malhotra</small> : Associate Professor, DTU, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mahesh</small> : Associate Professor, JUIT, Noida

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Akshi Kumar</small> : Assistant Professor, DTU, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Rashmi Agarwal</small> : MRUI, Haryana, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Awdesh Singh</small> : Professor, Galgotia university, UP, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mohanjeet Singh</small> : Punjab, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Shikha Jain</small> : Assistant Professor, JUIT Noida, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Bharti Sharma</small> : Associate Professor, NIT Kurukshetra, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Parmit Kaur</small> : Assistant Professor, JUIT, Noida, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Deepak Sharma</small> : Assistant Professor, Netaji Subhash Institute of Technology, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Arun Sharma</small> : Associate Professor, IGDTUW, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Abhishek Bhattacharya</small> : Institute of Engineering and Management, Kolkata, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ashish Khanna</small> : MAIT, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Jyotsna Sinha</small> : Director, RCIT, GGSIPU, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. PS Bedi</small> : Guru Tegh Bahadur Institute of Technology, GGSIPU, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mayur Bhoyar</small> : Jagdamba College of Engg and Tech, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Anand Nayyar</small> : &nbsp;Assistant Professor, KCL Institute, Punjab, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof Christos Douligeris</small> : University of Piraeus, Greece

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Brett Edward Trusko</small> : President &amp; CEO(IAOIP) and Assistant Professor, Texas A&amp;M
                        University, Texas

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. S.Nagaprasad</small> : S.R.R.Govt.Arts &amp; Science College, Karimnagar, Telangana

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Deepak Gupta</small> : MAIT, Delhi, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Jyoti Mishra</small> : Assistant Professor, Gyan Ganga Institute of Tech and Sciences

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Aleksandar Mastilovic</small> : University of Novi Sad, Serbia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof (Dr.) Joel J. P. C. Rodrigues</small> : National Institute of Telecommunications (Inatel), Brazil;
                        Instituto de Telecomunicações, Portugal

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Amit Agarwal</small> : University of Petroleum &amp; Energy Studies Dehradun

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof (Dr.) Victor Hugo C. de Albuquerque</small> : University of Fortaleza (UNIFOR), Brazil

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Virender Ranga</small> : National Institute of Technology, Kurukshetra

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. J.N. Singh</small> : BBA University, Lucknow

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Priyanka Sharma</small> : Nirma University of Science and Technology, Ahmedabad

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Saytajee Srivastava</small> : Galgotias University, Greater Noida

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Raqaiya Khanam</small> : Galgotias University, Greater Noida

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Neeraj Gupta</small> : K.R. Mangalam University, Gurgaon

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. D.K. Samadhiya</small> : University of Taiwan, Taiwan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. P.K. Jawahar</small> : B.S.ABDUR RAHMAN UNIVERSITY, Chennai

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Kamal Kant</small> : Dr. Harisingh Gour Central University, Sagar (M.P.)

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sajai Vir Singh</small> : Jaypee institute of information Technology, Noida (U.P.)

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Karan Singh</small> : Jawaharlal Nehru University, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Rashid Ali</small> : Department of Computer Engineering, AMU, Aligarh, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Shelly Sachdeva</small> : Department of Computer Science, JIIT University, Noida

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Paresh Virparia</small> : Department of Computer Science and Technology, S.P University, V. V.
                        Nagar

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sawtantar Singh Khurmi</small> : Punjab Technical University, Chandigarh

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Kamal Kumar</small> : SoCSE, UPES Bidholi, Dehradun

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Mayank Srivastava</small> : Professor, KIET, Ghaziabad

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Gaurav Sharma</small> : Universite Libre de Bruxelles, Belgique

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof(Dr.) Bright Keswani</small> : Suresh Gyan Vihar University Mahal, Jagatpura, Jaipur

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ravi Gulati</small> : Veer Narmad South Gujarat University, Surat

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Suraiya Jabin</small> : JAMIA MILLIA ISLAMIA, Delhi

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof (Dr.) Vijay Singh Rathore</small> : Jaipur Engineering College &amp; Research Centre

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Ankit Mundra</small> : Central University of Rajasthan, Ajmer

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Jyotirmay Patel</small> : Meerut Institute of Technology, Merrut

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Amit Sanghi</small> : Marudhar Engineering College Bikaner

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Geetha Balan</small> : VIT University, Chennai

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Sounak Paul</small> : BIT MESRA

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Vikram Singh</small> : NIT Kurukshetra, Haryana

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Haider</small> : Mahatma Gandhi Mission's College of Engineering and Technology, Noida, UP

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Joe Louis Paul</small> : SSN College of Engineering, Kalavakkam

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. T Kala Selvi</small> : Gandhigram Rural University, Gandhigram, Dindigul, Tamilnadu, India

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. R. Anandan</small> : Associate Professor, Vels University, Chennai

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Mr. Suresh Muthusamy</small> : Assistant Professor, Kongu Engineering College, Tamilnadu

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Dr. Amit Jain</small> : Sir Padampat Singhania University, Rajasthan

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Professor(Dr) Ku Ruhana Ku Mahamud </small> : School of Computing, College of Arts &amp; Sciences,
                        Universiti Utara Malaysia, Malaysia

                    </div>
                </div>
                <div class="cName">
                    <div class="car">
                        <small>Prof. Ghasem D. Najafpour</small> : Babol Noshirvani University of Technology, IRAN

                    </div>
                </div>
            </div>
        </div>

        <% include ./footer.ejs%>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="./script/index.js"></script>
</body>

</html>