<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/ugc_journals.css">
    <title>UGC Journal's</title>
</head>

<body>
    <img id="homeImage" src="./images/mikael-kristenson-242070-unsplash.jpg" alt="">

    <% include ./navbar.ejs%>

        <div class="journals">
            <h3>UGC Journal's</h3>
            <hr>
            <ul>
                <li>
                    <div class="journal">
                        <h4 class="acro">JARDCS</h4>
                        <h4 class="full">Journal of Advanced Research in Dynamical and Control Systems</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">IJRITCC</h4>
                        <h4 class="full">International Journal on Recent and Innovation Trends in Computing and Communication</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">IJFRCSCE</h4>
                        <h4 class="full">International Journal on Future Revolution in Computer Science & Communication Engineering</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">JETIR</h4>
                        <h4 class="full">Journal of Advanced Research in Dynamical and Control SystemsJournal of Emerging Technologies and
                            Innovative Research</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">IJLSM</h4>
                        <h4 class="full">The International Journal on Recent Trends in Life Science and Mathematics</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">IJRPC</h4>
                        <h4 class="full">International Journal on Research Methodologies in Physics and Chemistry</h4>
                    </div>
                </li>

                <li>
                    <div class="journal">
                        <h4 class="acro">IJRMEE</h4>
                        <h4 class="full">International Journal on Recent Technologies in Mechanical and Electrical Engineering</h4>
                    </div>
                </li>
            </ul>


        </div>

        <% include ./footer.ejs%>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="./script/index.js"></script>
</body>

</html>