.data {
    padding: 0.5em 0.2em;
}
.conf {
    width: 100%;
    padding: 1em 10%;
    padding-top: 15vh;
    background-color: #fff;
    opacity: 0.98;
    color: #555555;
}

.conf_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;

}

.conf_name h2 {
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
}

.conf_name h4 {
    font-size: 15px;
}

.call {
    display: flex;
    flex-direction: column;
}

.callForPaper li{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.1em;
    margin-top: 0.4em;
}

.call .confCommittee{
    width: 100%;
}

.call .confCommittee .name{
    padding-left: 1em;
}

.registration p{
    margin-bottom: 8px;
    display: flex;
    align-items: center;

}

.registration p i {
    margin: 0px 5px;
    font-size: 12px;
}

.importantDates {
    background-color: unset;
    height: unset;
}

.importantDates p {
    /* margin: 0px; */
}

.submitPaperBtn {
    background-color: #c8543b;
    color: #fafafa;
    padding: 0.5em 1em;
    cursor: text;
    margin: 0px;
    text-decoration: none;
    width: fit-content;
    width: -moz-fit-content;
}

@media screen and (max-width: 750px) {
    .call {
        flex-direction: column;
    }

    .call .callForPaper {
        width: 100%;
    }

    .call .confCommittee {
        width: 100%;
    }
}